<footer class="footer">

  <ul class="footer__ul">
    <h6>mail</h6>
    <li><a href=""> gementeAmsterdam&#64;gmail.com</a></li>
  </ul>

  <ul class="footer__ul">
    <h6>social</h6>
    <li> <a href="">LinedIn</a></li>
    <li> <a href="">X (Twitter)</a></li>
  </ul>

  <ul class="footer__ul">
    <h6>Over deze site</h6>
    <li> <a href="">Proclaimer en Copyright</a></li>
    <li> <a href="">Sitemap</a></li>
  </ul>

  <ul class="footer__ul">
    <h6>Amsterdam.nl</h6>
    <li><a href="">Naar amsterdam.nl</a></li>
  </ul>
</footer>