<footer class="footer">

    <table class="table table-borderless">
        <thead>
          <tr>
            <th style="width: 25%">Mail</th>
            <th style="width: 25%">Social</th>
            <th style="width: 25%">Over site</th>
            <th style="width: 25%">Amsterdam.nl</th>
          </tr>
        </thead>
        <tbody>
          <tr>


     
            <td>Amsterdamgemeentegmail.com</td>
            <td>LinkedIn</td>
            <td>Proclaimer en Copyright</td>
            <td>Amsterdam.nl</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>SiteMap</td>
            <td></td>
          
          </tr>
          <tr>
          
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        
          </tr>
        </tbody>
      </table>

</footer>
