.navbar{
   height: 5rem;

    &__toggler{
        height: 3.5rem;
        aspect-ratio: 1/1;
        background: none;
      border: none;     
    }

    &__canvas{
   
    }



&__imgDiv{
   display: flex;
   align-items: center;
   justify-content: center;
    height: 4rem;

}

&__logo{

   height: 7rem;
}

&__item{
    background-color: red;
}

&__link{

    &--werken{
        background-color: red;
        font-size: 5rem;
    }
}
}

.navbar-toggler-icon{
    height: 100%;
    width: 100%;
    font-size: 100%;
}

.nav-link{


    &--werken{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: red;
        border-radius: 0.5rem;
    }
}

