.main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
    flex-direction: column;
    padding: 2rem;

    &__figure {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30rem;
        width: 80%;
   
        position: relative;
    }

    &__title {
   height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }

    &__text{
   flex-wrap: wrap;
        width: 100%;
     
        font-size: 1.2rem;
    }


    &__article{
        height: 100%;
       width: 80%;
        border-left: 0.5rem solid red;
       padding-left: 2rem;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

    }

    &__title2{
        margin-bottom: 2rem;
    }


    &__img {
  
border-radius: 2rem;
        height: 100%;
        width: 100%;
         
    }
}


@media screen and (max-width: 45.75rem) {

    .main {
        padding: 0;

        &__title{
            font-size: 1.6rem;
        }

        &__article{
           padding-left: 1rem;
        margin-bottom: 5rem;
    
        }
   
    
        &__img {
 
            height: 70%;
            width: 100%;
           
        }
    }

}

@media screen and (max-width: 30.4375rem) {

    .main{

        &__title{
            font-size: 1.3rem;
        }
        

        &__img {
 
            height: 60%;
            width: 100%;
            object-fit: cover;
           
        }
    }
    }

