<main class="main" *ngIf="project">

  <figure class="main__figure">
    <h2 class="main__title">{{ project.title }}</h2>
    <img class="main__img" [src]="project.src" alt="Project Image">
    <!-- Add other project details as needed -->
  </figure>

  <article class="main__article">
    <h4 class="main__title2">{{ project.title2 }}</h4>

    <div>
      <p class="main__text">{{ project.text1 }}</p>
      <p class="main__text">{{ project.text2 }}</p>
      <p class="main__text">{{ project.text3 }}</p>
      <p class="main__text">{{ project.text4 }}</p>
    </div>
    
  </article>

  <article class="main__slider">
    <div id="slider-container">
      <div id="slider" [style.transform]="'translateX(' + (-currentIndex * 100) + '%)'">
        <div class="slide" *ngFor="let imagePath of imagePaths">
          <img class="main__sliderImg" [src]="imagePath" alt="Project Image" />
        </div>
      </div>
      <button (click)="prevSlide()"> < </button>
      <button (click)="nextSlide()"> > </button>
    </div>
  </article>
  
  
  

</main>