<main class="main">
   
 <article class="main__article">
   <div class="main__div">
      <h1 class="main__title">Gemeente Amsterdam</h1>
      <h2  class="main__title">Bouwmanagement en Maatschappelijk Vastgoed</h2>
     
    <button class="main__buttonScroll">Voor meer info <i class="fa-solid fa-circle-arrow-down"></i></button>
   </div>
   
 </article>


 <article class="main__article2" id="article2">

   <h2 class="main__articleTitle" >Bouwmanagement en Maatschappelijk Vastgoed</h2>

   <div class="main__article2div">

    <h5 class="main__articleSecondTitle" >Bijdragen aan een toekomstbestendige stad</h5>
    <p class="main__articleText"> Een sociaal-duurzaam Amsterdam
     Voor veel mensen is en blijft Amsterdam een zeer aantrekkelijke plek om te wonen en dus blijven we bouwen aan de groei van de stad.
     <br>
     <br>
     Maar Amsterdam bestaat natuurlijk uit méér dan alleen woningen. Daarom bouwen we aan een sociaal-duurzaam Amsterdam: een stad die het welzijn van haar bewoners belangrijk vindt en verbetert, door niet alleen woningen te bouwen maar ook te zorgen voor maatschappelijke voorzieningen, voor huidige bewoners en toekomstige generaties. </p>
 
   </div>
   </article>


   <article class="main__article2">
    <h2 class="main__articleTitle">organisatie</h2>

    <div class="main__origanisatieButtons">
      <button class="main__origanisatieButton" type="button" (click)="onBouwmanagementClick()">Bouwmanagement </button>
      <button class="main__origanisatieButton" type="button" (click)="onWerkwijzeClick()">Werkwijze </button>
      <button class="main__origanisatieButton main__origanisatieButton--team" type="button" (click)="BMVteams()">BMV-teams </button>
    </div>

    <div class="main__divText" *ngIf="jsonData">
      <p>{{ jsonData.text1 }}</p>
      <p>{{ jsonData.text2 }}</p>
      <p>{{ jsonData.text3 }}</p>
    </div>
  </article>

  

</main>
