
html{
    font-size: 62.5%;
}

.main{
  

    &__article{
        height: 90vh;
        flex-grow: 1;
        backdrop-filter: blur(0.1rem);
       
     
    }


    &__article2{
     height: auto;
        flex-grow: 1;
        background-color: white;
        padding: 4rem;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
      
      
    

    }

    &__articleTitle{
        margin-bottom: 1rem;
        padding-left: 1rem;
        font-size: 2rem;
        
    }

    &__articleSecondTitle{
        margin-bottom: 1rem;
        font-size: 1.6rem;
        font-weight: 500;
    }

    &__articleText{
        font-size: 1.2rem;
     
    }

    &__article2div{
   
   
        padding: 1rem;
       
        box-shadow:  -1rem 1rem 0.5rem 0  rgb(255, 0, 0,0.8);
        border-radius: 0.5rem;
   
        margin-bottom: 2rem;
    }


    &__article2List{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        font-size: 1.2rem;
    }

    &__article2List li{

        &:hover{
            cursor: pointer;
            transform: scale(1.1);
            transition: 0.2s all;
        }
        
    }

    &__article2Link{
        color: red;


        &--werkebBij{
            text-decoration: none;
          &:hover{
            transition: 0.2s all;
            background: red;
            color: white;
        }
        }

        

      
    }

    &__article2Button{
        height: auto;
       
        background: none;
        border-radius: 2rem;
        border-color: red;
        padding: 0.5rem;

        &:hover{
            transition: 0.2s all;
            background: red;
            color: white;
        }

    }

    &__div{
        
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__title{
        font-size: 2rem;
        font-size: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
       
    }

    &__buttonScroll{
      height: 2rem;
      width: 10rem;
      background: white;
      border-radius: 0.5rem;
      border: none;

      &:hover{
       cursor: auto;
      }
    }

    &__divText{
      
        box-shadow:  -1rem 1rem 0.5rem 0  rgb(255, 0, 0,0.8);
        padding-left: 1rem;
        border-radius: 1rem;
        color: black;
     font-size: 1.2rem;
    }

    &__origanisatieButtons{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        padding: 1rem;
        gap: 2rem;
   
    
    }

    &__origanisatieButton{
        display: flex;
        align-items: center;
        justify-content: center;
        border:  0.1rem solid red;
       font-size: 1.2rem;
        border-radius: 1rem;
        height: 2rem;
        width: auto;
        padding: 0.5rem;
        background: none;
    }


}


@media screen and (max-width: 46.5rem) {
    .main{
  

        &__article{
            height: 50vh;
        
            backdrop-filter: none;
            display: flex;
            align-items: center;
            justify-content: center;
         
        }

        &__div{
            height: auto;
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
      
  
        }

   
    
    }
}


@media screen and (max-width: 39rem) {

    .main{


        &__article{
            height: 40vh;
        
            backdrop-filter: none;
            display: flex;
            align-items: center;
            justify-content: center;
         
        }


        &__article2{
            height: auto;
               flex-grow: 1;
               background-color: white;
               padding: 2rem;
               display: flex;
               align-items: flex-start;
               justify-content: flex-start;
               flex-direction: column;
             
             
           
       
           }
    
    
        &__origanisatieButtons{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
          gap: 0.5rem;
    
        }

    }
}

@media screen and (max-width: 36rem) {

    .main{

        
        &__article{
            height: 45vh;
        
            backdrop-filter: none;
            display: flex;
            align-items: center;
            justify-content: center;
         
        }

        &__title{
            font-size: 1.4rem;
        }
    }
}

@media screen and (max-width: 31rem) {

    .main{ 


        &__title{
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 24rem) {

    .main{ 


        
        &__article{
            height: 30vh;
        
            backdrop-filter: none;
            display: flex;
            align-items: center;
            justify-content: center;
         
        }


        &__article{
 display: flex;
 align-items: center;
 justify-content: center;
             width: 100%;
             
       
           }



        
        &__article2{
         height: 80%;
            flex-grow: 1;
            background-color: white;
            padding: 1rem;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            margin-bottom: 2rem;
          
          
        
    
        }


        &__title{
            font-size: 1rem;
        }
    }
}
