<main class="main">
   
 <article class="main__article">
   <div class="main__div">
      <h1 class="main__title">Gemeente Amsterdam BMV</h1>
     
    <button class="main__buttonScroll">Voor meer info <i class="fa-solid fa-circle-arrow-down"></i></button>
   </div>
   
 </article>


 <article class="main__article2" id="article2">

   <h1 class="main__articleTitle" >Bouwmanagement en Maatschappelijk Vastgoed</h1>

   <div class="main__article2div">

    <h5 class="main__articleSecondTitle" >Bijdragen aan een toekomstbestendige stad</h5>
    <p class="main__articleText"> Een sociaal-duurzaam Amsterdam
     Voor veel mensen is en blijft Amsterdam een zeer aantrekkelijke plek om te wonen en dus blijven we bouwen aan de groei van de stad.
     <br>
     <br>
     Maar Amsterdam bestaat natuurlijk uit méér dan alleen woningen. Daarom bouwen we aan een sociaal-duurzaam Amsterdam: een stad die het welzijn van haar bewoners belangrijk vindt en verbetert, door niet alleen woningen te bouwen maar ook te zorgen voor maatschappelijke voorzieningen, voor huidige bewoners en toekomstige generaties. </p>
 
   </div>

<ul class="main__article2List">
  <li><a class="main__article2Link" href="">Organisatie</a></li>
  <li><a class="main__article2Link" routerLink="Projecten">Projecten</a></li>
  <li> <button class="main__article2Button"><a class="main__article2Link main__article2Link--werkebBij" href="">Werken bij</a> </button> </li>
</ul>

   </article>

  

</main>
